{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": false,
    "printWidth": 90,
    "tabWidth": 4,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
